section.container {
  background-image: url("../../../assets/img/fondo/fondo4.webp");
  background-size: 150% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100svh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2em;
  width: 100%;
  padding: 0 10px;
}

header img {
  animation: to-down 10s linear both 0.5s;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.5));
}

@keyframes to-down {
  0% {
    opacity: 0;
    transform: translateY(-50svh);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50svh);
  }
}

header h2 {
  animation: blur 10s linear both 500ms;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 7;
  font-size: 10vw;
}

@keyframes blur {
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  10% {
    opacity: 1;
    filter: blur(0);
  }
  90% {
    opacity: 1;
    filter: blur(0);
  }
  100% {
    opacity: 0;
    filter: blur(10px);
  }
}

header h2 span {
  font-size: 20vw;
}

header h2 strong {
  font-size: 15vw;
}

main {
  bottom: 0;
  
  position: fixed;
  z-index: 1;
}

main .personaje2 {
  animation: slide-left-rotate 1s linear both 3.5s;
  z-index: 5;
  position: relative;
  width: 50%;
  filter: drop-shadow(0 5px 5px black);
  bottom: -10svh;
}

@keyframes slide-left-rotate {
  0% {
    opacity: 0;
    transform: translateX(-80vw) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(360deg);
  }
}

@media (max-height: 600px) and (max-width: 500px) {
  main .personaje3 {
    right: -50px;
  }

  main .personaje2 {
    left: -50px;
  }
}

main .personaje3 {
  animation: slide-right-rotate 1s linear both 2s;
  z-index: 6;
  position: relative;
  width: 50%;
  filter: drop-shadow(0 5px 5px black);
  bottom: -10svh;
}

@keyframes slide-right-rotate {
  0% {
    opacity: 0;
    transform: translateX(80vw) rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(-360deg);
  }
}

main .confirmacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 2em;
  width: 100%;
  padding: 0 10px;
  position: fixed;
  bottom: 25svh;
  animation: to-top 1s linear both 10s;
  z-index: 10;

  gap: 5svh;
}

@keyframes to-top {
  0% {
    opacity: 0;
    display: none;
    transform: translateY(100svh);
  }
  100% {
    opacity: 1;
    display: flex;
    transform: translateY(0);
  }
}

main .confirmacion small {
  font-size: 0.7em;
  background: #0005;
  padding: 0.5vh 2vw;
  border-radius: 10px;
  text-shadow: 0px 5px 5px rgba(255, 255, 255, 0.5);
}

main .confirmacion .mapa {
  text-decoration: underline;
  color: #fff;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
}

main .confirmacion address {
  display: flex;
  flex-direction: column;
}

main .confirmacion address p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

main .confirmacion address p small {
  color: #000;
  width: fit-content;
  background: var(--color-secondary, #ff00ee);
  letter-spacing: 2px;
}

main .confirmacion address p small:nth-child(1) {
  background: var(--color-primary, #005dd6);
}

main .confirmacion address span {
  font-size: 12vw;
}

main .confirmacion address section {
  line-height: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .confirmacion address section span {
  font-size: 12vw;
  font-style: normal;
  width: 30%;
}

main .confirmacion address section strong {
  /* font-size: 12vw; */
  width: 30%;
  line-height: 1em;
}

.action {
  width: 100%;
  padding: 0 20px;
  display: flex;
  gap: 10px;
}

.action a {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.action .primary {
  background-color: var(--color-primary, #005dd6);
  color: #fff;
  font-weight: normal;
  border-radius: 20px;
  letter-spacing: 2px;
}

.action .secondary {
  background-color: #fff;
  color: var(--color-primary, #005dd6);
  letter-spacing: 2px;
  font-weight: normal;
}
