<section class="container">
  <header>
    <img
      src="../../../assets/img/personaje7/personaje7.png"
      alt="personaje7"
      class="personaje7"
      width="200"
    />
    <h2>
      Nos gustaría que <strong>confirmaras</strong> <br />tu asistencia a este
      evento tan<br />
      <span>Esperado</span>
    </h2>
  </header>

  <main><!-- optimizar imagenes y SEO -->
    <img
      src="../../../assets/img/personaje3/personaje3.png"
      alt="personaje3"
      class="personaje3"
      width="200"
    />

    <img
      src="../../../assets/img/personaje2/personaje2-2.png"
      alt="personaje2"
      class="personaje2"
      width="200"
    />

    <section class="confirmacion">
      <address>
        <section>
          <span>Junio 2025</span>
          <strong>22</strong>
          <span>3:30 pm</span>
        </section>

        <strong>Metropolitano del Norte</strong>
        <a href="https://maps.app.goo.gl/Fckpw2LCX1bacP6w9" target="_blank">
          <span>Cra. 1a11#69-20</span>
        </a>
        <p>
          <small>Es niño? Trae Pañitos</small>
          <small>Es niña? Trae Pañales</small>
        </p>
      </address>

      <small>
        <a
          href="https://maps.app.goo.gl/Fckpw2LCX1bacP6w9"
          class="mapa"
          target="_blank"
          >¿No sabes dónde queda? <br />Click Aquí para ver el mapa</a
        >
      </small>

      <div class="action">
        <a
          href="https://wa.me/573137683510?text=Hola%2C%20queria%20comentarte%20que%20tengo%20muchas%20ganas%20de%20asistir%20a%20la%20revelacion%20de%20genero%2C%20de%20tu%20bebe."
          target="_blank"
          class="primary"
          >Sí Asistiré</a
        >
        <a
          href="https://wa.me/573137683510?text=Hola%2C%20me%20entristece%20decirte%20que%20no%20podré%20asistir%20a%20la%20revelacion%20de%20genero%2C%20de%20tu%20bebe."
          target="_blank"
          class="secondary"
          >No Podré</a
        >
      </div>
    </section>
  </main>

  <footer>
    <img
      *ngFor="let i of [8, 9, 11, 12, 13, 14, 8]"
      [src]="'../../../assets/img/fondo/decoracion' + i + '.webp'"
      alt="decoracion"
    />
  </footer>
</section>
